:root {
  --bg-color-attention-muted: #bb800926;
  --bg-color-muted: #151b23;
  --bg-color: #fff;
  --bg-neutral: #656c7633;
  --border-color-default: #3d444d;
  --border-color-muted: #3d444db3;
  --color-anchor: #0550ae;
  --color: #0d1117;
  --font-bold: 900;
  --font-family-monospaced: "Fira Code", Menlo, Consolas, monospace;
  --font-family: Helvetica, Arial, sans-serif;
  --font-semibold: 600;
  --font-size-regular: 12pt;
  --margin-big: 2.5rem;
  --margin-small: 1rem;
  --underline-color: #3d444db3;

  /***
   * syntax highlight 
   **/
  --color-prettylights-syntax-comment: #59636e;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-prettylights-syntax-entity: #6639ba;
  --color-prettylights-syntax-storage-modifier-import: #1f2328;
  --color-prettylights-syntax-entity-tag: #0550ae;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-brackethighlighter-angle: #59636e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #1f2328;
  --color-prettylights-syntax-markup-bold: #1f2328;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
}

html {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--color);
  font-size: var(--font-size-regular);
  line-height: 1.6;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body::before {
  display: table;
  content: "";
}
body::after {
  display: table;
  clear: both;
  content: "";
}
body > :first-child {
  margin-top: 0 !important;
}
body > :last-child {
  margin-bottom: 0 !important;
}

details,
figcaption,
figure {
  display: block;
}

summary {
  display: list-item;
}

a {
  background-color: transparent;
  color: var(--color-anchor);
  text-decoration: none;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: var(--font-semibold, 600);
}
dfn {
  font-style: italic;
}

mark {
  background-color: var(--bg-color-attention-muted);
  color: #ff00ff;
}

small {
  font-size: 90%;
}

code,
pre,
samp {
  font-family: var(--font-family-monospaced);
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

figure {
  margin: 1em var(--margin-big);
}

hr {
  box-sizing: content-box;
  overflow: hidden;
  background: 0 0;
  border-bottom: 1px solid var(--bg-color-attention-muted);
  background-color: var(--border-color-default);
  height: 0.25em;
  padding: 0;
  margin: var(--base-size-24) 0;
  border: 0;
}

hr::before {
  display: table;
  content: "";
}
hr::after {
  display: table;
  clear: both;
  content: "";
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

td,
th {
  padding: 0;
}

table th {
  font-weight: var(--font-semibold);
}
table td,
table th {
  padding: 6px 13px;
  border: 1px solid var(--bg-color);
}
table td > :last-child {
  margin-bottom: 0;
}
table tr {
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color-muted);
}
table tr:nth-child(2n) {
  background-color: var(--bg-color-muted);
}
table img {
  background-color: transparent;
}
img[align="right"] {
  padding-left: 20px;
}
img[align="left"] {
  padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-big);
  font-weight: var(--font-semibold);
  line-height: 1.25;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 2em;
  border-bottom: 1px solid var(--underline-color);
}

h2 {
  font-size: 1.5em;
  border-bottom: 1px solid var(--underline-color);
}

h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--bg-color-muted);
  border-left: 0.25em solid var(--border-color-default);
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}

code,
samp,
tt {
  font-family: var(--font-family-monospaced);
  font-size: 0.875em;
}

code,
tt {
  padding: 0.2em 0.4em;
  margin: 0;
  white-space: break-spaces;
  background-color: var(--bg-neutral);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}
code br,
tt br {
  display: none;
}

pre {
  font-family: var(--font-family-monospaced);
  font-size: 0.875em;
  word-wrap: normal;
  background-color: var(--bg-neutral);
  width: 100%;
  padding: var(--margin-small);
}

pre > code {
  padding: 0;
  white-space: pre;
  background-color: transparent;
}

/***
* syntax highlight 
**/
.pl-c {
  color: var(--color-prettylights-syntax-comment);
}
.pl-c1,
.pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}
.pl-e,
.pl-en {
  color: var(--color-prettylights-syntax-entity);
}
.pl-s .pl-s1,
.pl-smi {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}
.pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}
.pl-k {
  color: var(--color-prettylights-syntax-keyword);
}
.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
  color: var(--color-prettylights-syntax-string);
}
.pl-smw,
.pl-v {
  color: var(--color-prettylights-syntax-variable);
}
.pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}
.pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}
.pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}
.pl-sr .pl-cce {
  font-weight: 700;
  color: var(--color-prettylights-syntax-string-regexp);
}
.pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}
.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  font-weight: 700;
  color: var(--color-prettylights-syntax-markup-heading);
}
.pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}
.pl-mb {
  font-weight: 700;
  color: var(--color-prettylights-syntax-markup-bold);
}
.pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}
.pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}
.pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}
.pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}
.pl-mdr {
  font-weight: 700;
  color: var(--color-prettylights-syntax-meta-diff-range);
}
.pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}
.pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}
.pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}
