@define-color bg #222436;
@define-color bg-dark #1e2030;
@define-color bg-highlight #2f334d;
@define-color fg #c8d3f5;
@define-color fg-dark #3b4261;
@define-color yellow #ffc777;
@define-color red #ff757f;
@define-color green #4fd6be;
@define-color purple #fca7ea;
@define-color blue #65bcff;

#waybar {
  font-family: "Fira Code Nerd Font";
  font-size: 16px;
}

#window {
  padding: 0 10px;
}

window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  color: @fg;
  background: @bg;
}

#battery,
#network,
#pulseaudio,
#power-profiles-daemon,
#tray,
#workspaces {
  padding: 0 10px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#network.degraded {
  color: @yellow;
}

#network.bad {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#power-profiles-daemon.power-saver {
  background-color: @green;
  color: @fg-dark;
}

#power-profiles-daemon.performance {
  background-color: @yellow;
  color: @fg-dark;
}

#power-profiles-daemon.balanced {
  background-color: @blue;
  color: @fg-dark;
}

#workspaces button {
  color: @purple;
}

#tray {
  margin: 0 10px;
}

/* bg_dark1 = "#191B29", */
/* blue = "#82aaff", */
/* blue0 = "#3e68d7", */
/* blue1 = "#65bcff", */
/* blue2 = "#0db9d7", */
/* blue5 = "#89ddff", */
/* blue6 = "#b4f9f8", */
/* blue7 = "#394b70", */
/* cyan = "#86e1fc", */
/* dark3 = "#545c7e", */
/* dark5 = "#737aa2", */
/* fg_dark = "#828bb8", */
/* green2 = "#41a6b5", */
/* magenta = "#c099ff", */
/* magenta2 = "#ff007c", */
/* orange = "#ff966c", */
/* red1 = "#c53b53", */
/* teal = "#4fd6be", */
/* terminal_black = "#444a73", */
