[Desktop Entry]
Name=Unity Neovim
Exec=alacritty --class=unity-nvim -e unity-nvim %f
Terminal=true
Type=Application
MimeType=text/x-csharp;
Categories=Utility;TextEditor;
