@define-color bg #222436;
@define-color bg-dark #1e2030;
@define-color bg-highlight #2f334d;
@define-color fg #c8d3f5;
@define-color fg-dark #3b4261;
@define-color yellow #ffc777;
@define-color red #ff757f;
@define-color green #4fd6be;
@define-color purple #fca7ea;
@define-color blue #65bcff;

#window {
  color: @fg;
  background-color: @bg;
  border: 1px solid @fg;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Fira Code Nerd Font";
}

#outer-box {
  padding: 5px;
}

#input {
  box-shadow: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid @fg;
  border-radius: 0;
  margin-bottom: 1px;
  padding-left: 4px;
  color: @fg-dark;
}

#input:focus {
  border: none;
  border-bottom: 2px solid @fg;
}

#entry {
  background-color: @bg-dark;
  margin: 1px 0;
  border-radius: 0;
}

#entry:nth-child(2n) {
  background-color: @bg;
}

#entry:selected {
  background-color: @bg-highlight;
}
