#window {
  background-color: rgba(45, 48, 59, 0.95);
  border: 1px solid rgb(124, 131, 137);
  border-radius: 6px;
  font-size: 16px;
  font-family: "Fira Code Nerd Font";
  color: rgb(196, 203, 212);
}

#outer-box {
  padding: 5px;
}

#input {
  box-shadow: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(29, 31, 33);
  border-radius: 0;
  margin-bottom: 1px;
  padding-left: 4px;
  color: rgb(196, 203, 212);
}

#input:focus {
  border: none;
  border-bottom: 2px solid rgb(29, 31, 33);
}

#entry {
  background-color: rgba(45, 48, 59, 0.95);
  margin: 1px 0;
  border-radius: 0;
}

#entry:nth-child(2n) {
  background-color: rgba(64, 69, 82, 0.59);
}

#entry:selected {
  background-color: rgb(64, 132, 214);
  color: rgb(249, 249, 249);
}

